/* カードレイアウト部分をラッピングし、
Flexboxを指定"space-between"で各アイテムを均等に配置し、
最初と最後のアイテムを端に寄せます。*/
#cardlayout-wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    margin: 2em auto;
    max-width: 1200px;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

/* リンクテキストの下線を非表示 */
a.card-link {
    text-decoration: none;
}

/* カードレイアウト内の画像を幅いっぱいに表示 */
#cardlayout-wrap img {
}

.card-figure{
    
}
.card-figure img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 400px;
    margin : 0 auto
}

/* カードレイアウトのタイトル部分 */
.card-title {
    margin: 0.6em 0 0;
    color: #333;
    text-align: center;
    font-size: 1.3em;
}

/* カードレイアウトの説明文部分 */
.card-text-tax {
    display: block;
  margin: 0 0 0 auto;
    padding: 1em;
    color: #818181;
    
    
}

/* カードレイアウトを1カラムで配置 */
.card-list {
    margin: 0.5em auto;
    padding: 0;
    width: 96%;
    background:white;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.08);
    transition-duration: 0.5s;
}

.card-list:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.32);

}


/* 画面幅768px以上の場合カードレイアウトを2カラムで配置 */
@media all and (min-width: 768px) {
    .card-list {
        margin: 0.5em 0;
        width: calc(96% / 2); /* 96%幅を2で割るという指定 */
    }
}

/* 画面幅992px以上の場合カードレイアウトを3カラムで配置 */
@media all and (min-width: 992px) {
    .card-list {
        width: calc(96% / 3); /* 96%幅を3で割るという指定 */
}
    
/* 最後の行が3列より少ない場合左寄せにレイアウトさせる */
    #cardlayout-wrap::after{
        content: "";
        display: block;
        width: calc(96% / 3);
    }
}


.topWrapper {
    width: 150px;
    padding: 0px 0px 50px;
    margin: 0 auto;
}

.thumbnail {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px auto;
    float:left;
}

.editThumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.buttonSet {
    margin: 30px 0 0 0;
    text-align: center;
}

.labelTitle {
    color: #006DD9;
    margin: 20px 0 5px 0;
}

input[class="userForm"] {
    width: 100%;
    padding: 5px 0 5px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    transition: 1s;
}
input[class="userForm"]:focus {
    background: #87ceeb;
}

.btn-done {
    background: #dc143c;
    border: 1px solid #dc143c;
}
.btn-done:hover {
    background: #cc1237;
    border: 1px solid #cc1237;
}

.error {
    font-size: 15px;
    font-weight: 100;
    color: #cc1237;
}


/* edit.bladeのチェックボックスの追加 */
.label {
    white-space: nowrap;
    padding-right:0.3em;
    margin-right: 2em;
    display: block;
    float: left; 
    width: 100%;
  }

  .btn-a {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.6;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

